
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}

.bg{
  background-color: #1a1a1a;
}
.custom-button {
  width: 70px;
}
